table {
  width:100%;
  table-layout:fixed;
  word-wrap: break-word;
  @media #{$mq-xs, $mq-sm}{
  left:0;
  top:0;
  }
  thead {
    background-color: #727778;
    color: white;
    p {
      padding:10px 0px 10px 0px;
      margin: 0 auto;
      display:flex;
      font-weight:400 !important;
    }
  }

  thead th {
    width:auto !important;
    border-left:1px solid #B8BDC6;
    &:nth-child(4) {
      width:20% !important;
    }
    &:last-child {
      width:10% !important;
    }
    &:hover {
      cursor: pointer;
      background-color:#B8BDC6;
    }
  }

  tbody tr {
    &:hover {
      background-color:#B8BDC6;
      font-weight: 600;
    }
  }

  .projectName {
    color:$skyBlue;
    cursor: pointer;
  }

  .projectOwner {
    color: grey;
  }

  .projectDue {
    color: grey;
  }

  .currentStep-tr {
    float:left;
    left:0;
    width:20px;
    text-align:right;
  }

  .totalStep-tr {
    float:right;
    right:0;
    text-align:right;
  }
  .overLay-progressBar {
    height:17px;
    @media #{$mq-xs, $mq-sm}{
      height:13px;
      width:60%;
    }
    width:75%;
  }
  .inner-progressBar {
    height:17px;
    @media #{$mq-xs, $mq-sm}{
      height:13px;
    }
  }
}


.circleGreen {
  @include activeCircle($greenActive);
}

.circleGray {
  @include activeCircle($lightGrey);
}
