//Mixins

@mixin flexCenter(){
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: relative;
    justify-content: space-between;
  align-items: center;

}

@mixin activeCircle($color){
  margin: 0 10px;
  width:20px;
  height:20px;
  border-radius:50%;
  background-color:$color;
}