//Media Queries
$mq-xs: "(max-width: 767px)";
$mq-sm: "(min-width: 768px) and (max-width: 991px)";
$mq-m: "(min-width: 992px) and (max-width: 1199px)";
$mq-lg: "(min-width: 1200px) and (max-width: 1599px)";
$mq-xlg: "(min-width: 1600px)";

//Colors
$lightGrey: #C1C1C1;
$greenActive: #52B94D;
$skyBlue: #248AC2;
$wmOrange: #F7880F;